.all_products
    display: flex
    flex-wrap: wrap
    margin-left: 20px
    &_product
        position: relative
        margin: 10px
        background-color: white
        border: 1px #222 solid
        width: 250px
        height: 273px
    &_image
        width: 150px
        height: 150px
        overflow: hidden
        margin: 12px auto
 
.all_images
    vertical-align: baseline
    width: 100%
    height: 100%

.fig--wrapper
    margin: auto
    width: 100%

.product_name
    background-color: #232f3e
    position: absolute
    bottom: 0
    text-align: center
    color: white
    padding: 10px 10px 10px 10px
    width: 100%
    height: 95px
    &::first-letter
        text-transform: capitalize
    & h4
        overflow-wrap: break-word
        font-size: 19px
        text-decoration: underline
        margin-bottom: 13px
    & p
        font-size: 14px
        overflow: hidden
        text-align: justify
    & a
        color: white
        text-decoration: none  
        font-size: 20px    
.form_input
    flex: 1

.content
    display: flex
    &_carousel
        flex: 4

.nav
    background-color: #232f3e
    height: 60px
    color: white
    padding: 10px
    display: flex
    justify-content: space-around
    align-items: baseline
    & li
        flex: 1
        text-align: center
        list-style: none

.productsSection--title
    display: flex
    height: 45px
    margin-top: 20px
    margin-bottom: 20px
    & h2
        color: #232f3e
        margin-right: 25px
        &::first-letter
            text-transform: capitalize
    & hr
        vertical-align: middle
        flex: 1
        border: 1px solid #232f3e
        border-radius: 5px
        margin-top: 23px

.message
    margin-top: 80px
    font-size: 23px
    flex: 1
    text-align: center


