
.basket
    &_item
        display: flex
        align-items: center
        background-color: #F6F3F3
        margin: 10px 0px
        & h1 
            flex: 1
            font-size: 1.5em
            margin-left: 10px
    &_figure
        width: 100px
        margin: 0
        & img
            width: 100%
            vertical-align: middle
    &_delete
        background-color: transparent
        border: 0px
        padding: 20px
        &:hover
            background-color: lightgrey
    &_buy
        float: right
        padding: 10px
        margin-top: 10px
        background-color: #73b43e
        border: 0px