.error
    min-height: 100vh
    background-color: #7592B0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    &_code
        color: white
        font-size: 5em
        font-weight: bold
        font-family: 'Arvo'
    &_details
        color: white
        font-size: 2em
        font-weight: normal
        font-family: 'Arvo'

.loader
    min-height: 100vh
    background-color: #7592B0
    display: flex
    justify-content: center
    align-items: center