h2
    color: #232f3e
    margin-bottom: 30px

.form--wrapper
    height: 100vh
    display: flex
    align-items: baseline

.regButton
    margin: 15px auto
    padding: 4px 10px
    width: 74px
    border-color: #232f3e
    border-radius: 5px
    background-color: #232f3e
    color: white

.regButton--wrapper
    max-width: 97px
    padding-left: 12px
    margin: auto

.form_input
    margin-top: 0
    & :last-child
        margin-bottom: 30px

.form--wrapper input:not([type="submit"])
    border: 1px solid  #232f3e
    border-radius: 3px
    padding: 10px
    width: 250px
    height: 35px

.register--form
    margin: auto
    display: flex
    flex-direction: column
    position: relative
    align-items: center
    background-color: whitesmoke
    padding: 50px 70px
    border-radius: 5px
    border: 1px solid  #232f3e

.modal_inscription
    display: none
    &_open 
        display: block
        background-color: rgba(120,120, 120, 0.8 )
        position: absolute
        top: 0
        left: 0
        right: 0
        z-index: 100
    
.modal_connexion
    display: none
    &_open 
        display: block
        background-color: rgba(120,120, 120, 0.8 )
        position: absolute
        top: 0
        left: 0
        right: 0
        z-index: 100

.nav__hidden
    display: none

.access
    cursor: pointer
    &:hover
        text-decoration: underline

.cancel__button
    cursor: pointer
    position: absolute
    top: 10px
    right: 15px
    border: 1px solid #232f3e
    border-radius: 50%
    padding: 3px 10px 3px 10px
    color: #232f3e
    font-weight: bold

.cancel__button:hover
    background-color: #232f3e
    color: white

.registerMessage
    color: #F00

.filArianne
    padding: 10px