*
    margin: 0
    padding: 0
    box-sizing: border-box

figure img
        width: 100%
        vertical-align: middle



.product_detail
    &_container
        &_header
            display: flex
            align-items: baseline
            & hr
                flex: 1
    &_title
        display: inline-block
        font-family: "Arvo"
        margin-right: 20px
        margin-left: 40px
        margin-top: 20px
    &_description
        display: flex
        margin-top: 50px
    &_infos
        flex: 1
        padding: 10px
    &_price
        font-family: "Nanum Myeongjo"
        color: #232f3e
    &_weight
        font-family: "Nanum Myeongjo"
        font-size: 40px
    &_text
        font-family: "Questrial"
        padding: 10px 0px

.img_principale       
    border: solid 2px #232f3e
    
.slider
    width: 40%
    min-width: 500px
    margin-left: 40px
    &_thumbnail
        width: 150px
        height: 150px
        overflow: hidden
        border: 2px solid #232f3e

        cursor: pointer
        
    &_all_images
        display: flex
        overflow-x: scroll
        justify-content: space-between
.product_detail_price
    width: 33%
    text-align: center
    margin: 0
    font-weight: bold
    font-family: sans-serif
    font-size: 40px

.product_detail_infos
    padding-right: 40px
    padding-left: 40px

.product_detail_dimension
    display: flex
    flex-direction: column
    font-family: sans-serif
    color: lightgrey
  
h4
    font-size: 30px

.add_product
    display: flex
    align-items: center
    background-color: #efefef
    justify-content: space-between
    height: 130px
 
.txt_indispo
    margin-top: 20px

.bouton_ind
    width: 0px
    height: 0px
    border-bottom: 130px solid transparent
    border-right: 130px solid red

.qtity
    display: flex
    flex-direction: column
    width: 33%
    justify-content: center
    align-items: center
.btn_vert
    display: flex

.indispo
    background-color: red
    color: white
    font-family: sans-serif
    font-size: 80px
    border: none
    height: 130px
    width: 280px
    text-align: left
    font-weight: bold
    font-size: 25px
    text-align: center
  

.add_panier

select
    background-color: white
    height: 50px
    padding-left: 15px
    width: 80px
    margin: 0 auto

.product_detail
    &_poids
        font-size: 10px
    &_width
        font-size: 10px
    &_height
        font-size: 10px

span.credits
    
    width: 30px
    height: 30px
    background-size: contain
    cursor: pointer
    display: inline-block
    