*
    margin: 0
    padding: 0
    box-sizing: border-box

figure img
        width: 100%
        vertical-align: middle



.product_detail
    &_container
        &_header
            display: flex
            align-items: baseline
            & hr
                flex: 1
    &_title
        display: inline-block
        font-family: "Arvo"
        margin-right: 20px
        margin-left: 40px
        margin-top: 20px
    &_description
        display: flex
        margin-top: 50px
    &_infos
        flex: 1
        
    &_price
        font-family: "Nanum Myeongjo"
        color: #232f3e
    &_weight
        font-family: "Nanum Myeongjo"
        font-size: 40px
    &_text
        font-family: "Questrial"
        padding: 0px

.img_principale       
    border: solid 2px #232f3e
    
.slider
    width: 40%
    min-width: 500px
    margin-left: 40px
    &_thumbnail
        width: 150px
        height: 150px
        overflow: hidden
        border: 2px solid #232f3e

        cursor: pointer
        
    &_all_images
        display: flex
        overflow-x: scroll
        justify-content: space-between

.prices
    width: 33%
    text-align: center
    margin: 15px
    
    
.product_detail_price
    font-weight: bold
    font-family: sans-serif
    font-size: 40px

.normalPrice
    margin: 0
    color: #F00
    font-weight: bold
    font-family: sans-serif
    font-size: 28px
    text-decoration: line-through

.noDiscounts
    display: block
    flex: 1

.yesDiscounts
    display: none

.displayDiscount
    display: block
    margin: 15px
    flex: 1

.noDisplayDiscount
    display: none

.product_detail_infos
    padding-right: 40px
    padding-left: 40px
    padding-top: 0px

.product_detail_dimension
    display: flex
    flex-direction: column
    font-family: sans-serif
    color: lightgrey
  
h4
    font-size: 30px

.add_product
    display: flex
    align-items: center
    background-color: #efefef
    justify-content: space-between
    height: 130px
 
.bouton
    width: 0px
    height: 0px
    border-bottom: 130px solid transparent
    border-right: 130px solid #73b43e

.qtity
    display: flex
    flex-direction: column
    width: 33%
    justify-content: center
    align-items: center
.btn_vert
    display: flex

.add_panier
    background-color: #73b43e
    color: white
    font-family: sans-serif
    font-size: 80px
    border: none
    height: 130px
    width: 280px
    text-align: left
    font-weight: bold
    font-size: 25px

.quantityForm
    display: flex
    
#quantity
    background-color: white
    height: 50px
    padding-left: 15px
    width: 80px
    margin: 0 auto

.product_detail
    &_poids
        font-size: 10px
    &_width
        font-size: 10px
    &_height
        font-size: 10px
    &_depth
        font-size: 10px

span.credits
    background: url(http://localhost:3000/images/basket.png) 
    width: 30px
    height: 30px
    background-size: contain
    cursor: pointer
    display: inline-block

.all_comment
    height: 320px
    overflow: scroll
.comment
    background-color: #efefef
    padding: 10px
    margin-bottom: 20px
 
.separation_comment
    border: solid black 1px
    width: 75%
    margin: 0 auto
    margin-bottom: 25px
.note_comment
    padding-left: 10px
.pseudo_comment
    font-weight: bold
.pseudo_note
    display: flex
.date_comment
    font-style: italic
    color: lightgrey
    margin-bottom: 0px
.comm_pdt
    width: 100%
    height: 250px
    border-radius: 10px

.form_comm
    background-color: #efefef
    padding: 10px
    margin-left: 40px
    margin-right: 40px
.pseudo_comm
    border-radius: 5px
    border: solid 1px lightgrey

.btn_comm
    background-color: #232f3e
    height: 40px
    text-align: center
    width: max-content
    padding-left: 10px
    padding-right: 10px
    border-radius: 5px

.title_comm
    margin-top: 30px

p.comment
    margin-bottom: 0px
    padding-left: 0px
    
.detailsColor
    width: 20px
    height: 20px
    border-radius: 50%
    box-shadow: 0px 0px 2px black
    margin: 2px
    &_container
        display: flex
        flex-wrap: wrap
