.searchbar
    position: relative
    display: flex
    &_input
        flex: 1
        padding: 10px
        border-radius: 0px 5px 5px 0px
        height: 30px
        border: none
        &:focus
            outline: 1px solid orange
    &_item
        padding: 10px
        color: black
        display: flex
        align-items: flex-end
        text-align: left
        &:focus
            background-color: lightgrey
        &:hover
            text-decoration: none
            background-color: lightgrey
            color: black
        &_container_active
            background-color: white
            position: absolute
            top: 30px
            left: 180px
            right: 0px
            z-index: 100
            box-shadow: 0px 5px 5px -5px black
        &_image
            width: 30px
            margin: 0
            margin-right: 10px
            & img 
                width: 100%
                vertical-align: middle

.togglecategories
    position: relative
    z-index: 100
    display: flex
    justify-content: space-between
    align-items: center
    background-color: white
    width: 180px
    height: 30px
    padding: 5px
    margin: 0
    text-align: left
    cursor: pointer
    user-select: none
    border-radius: 5px 0px 0px 5px
    background-color: lightgrey
    &::after
        content: "▼"
        color: black
    &_open
        border-radius: 5px 5px 0px 0px
        background-color: grey
        color: white
    &_selected
        color: black
        margin: 0
    &_all
        display: none
        position: absolute
        top: 30px
        left: 0
        width: inherit
        background-color: white
        color: black
        box-shadow: 0px 5px 5px -5px black
        border-radius: 0px 0px 5px 5px
        &_active
            display: block
    &_option
        &_category
            margin: 0
            padding: 0
            font-size: 1em
            font-weight: bold
            padding: 5px
            &:hover
                background-color: blue
                color: white
        &_subcategory
            margin: 0
            padding: 0
            font-size: 1em
            padding: 5px 15px
            &:hover
                background-color: blue
                color: white