.category
	user-select: none
	border-right: solid 1px black


.category_title
	height: 60px
	border-bottom: 1px #232f3e solid 
	
.category_title p
	line-height: 60px
	text-align: center

details li
	margin: 0
	border-bottom: 1px #232f3e solid
	list-style: none

details li:hover
	background-color: #232f3e

details li a
	display: inline-block
	padding: 4px 0 4px 50px 
	height: 100%
	width: 100%

details a
	color: grey

details li:hover a
	color: white
	text-decoration: none

summary
	list-style: none
	background-color: #E6E4E4
	width: 200px
	height: 40px
	border-bottom: 1px #232f3e solid
	padding-left: 10px
	display: inline-block

summary a
		line-height: 40px
		width: 100%
		height: 100%
	

summary a:hover
	text-decoration: none
	color: white

summary:hover
	background-color: #232f3e
	& a
		color: white
	
summary
	&::-webkit-details-marker 
		display: none
	&:hover:after
		color: white
	&:after 
		content: "+"
		color: grey
		float: left
		font-size: 1.5em
		margin: 2px 5px 0 0
		padding: 0
		text-align: center
		width: 20px

details
	&[open]
		& summary
			&:after 
				content: "-"
				color: grey
				float: left
				font-size: 1.5em
				margin: 0px 5px 0 0
				padding: 0
				text-align: center
				width: 20px
			&:hover:after
				color: white
